html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .up{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .up h4{
    font-weight: bold;
    color:  rgb(1, 20, 83);
    margin: 2%;
  }
  
  .main {
      width: 96%;
  }

  .gauche{
    display: none;
    background-color: rgb(251, 251, 251);
    padding: 3%;
    border-radius: 3px;
 }
 
 .right{
     background-color: rgb(251, 251, 251);
     padding: 3%;
     border-radius: 3px;
 }
 .gauche ul {
     padding-left: 5%;
     padding-top: 7%;
 }

 .gauche ul li{
  list-style: none;
  }

 .gauche ul li a {
     font-weight: bold;
     margin-left: 3%;
     color:  rgb(1, 20, 83);
     margin-top: 3%;
 }
 .right{
     margin-top: 3%;
     color:  rgb(1, 20, 83);
 }

 

 @media screen and (min-width: 992px){

    .main {
    display: -ms-grid; 
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows:  auto;
    grid-template-rows:  auto;
    grid-template-areas: 
    "left right right";
   grid-gap: 3%;
   margin-bottom: 3%;
    }

    .main .gauche{
        display: block;
        grid-area: left;
        padding-top: 5px;
        height: 200px;
    }

    
   .main .right{
    grid-area: right;
  margin-top: -1px;
}
   .up{
    margin-top: 1%;
  margin-bottom: 2%;
}

.gauche ul {
margin-top: 3%;
}

.gauche ul li{
  margin-top: 3%;
}

}
