html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
  
.main .gauche{
  background-color: rgb(251, 251, 251); 
  text-align: center;
  }

  .up{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .up h4{
    font-weight: bold;
     color:  rgb(1, 20, 83);
     margin:2%;
  }

  h4{
    color:  rgb(1, 20, 83);
    text-align: center;
  }

  hr{
      margin-top: 0;
      margin-bottom: 0;
  }

  
  .main .gauche .nav-item a{
    text-decoration: none;
    color:  rgb(1, 20, 83);
    font-weight: bold;
    margin-top: -3px;
  }
 
  .main .gauche .functions .btn {
    color:  rgb(1, 20, 83);
    font-weight: bold;
  }

  .main .gauche .functions h4{
      width:80%;
      margin:0 auto;
  }

  .display-message{
    width: 100%; 
    margin-top: 5%;
  }

  table{
      text-align: center;
  }
  thead{
      background-color: #21398A;
      color: #fff;
  }

  tbody{
      font-size: 15px;
      background-color: #fff;
  }

  /* Medium devices (tablets, 768px and up)*/

  @media (min-width: 768px) {
    .up{
      margin-bottom: 2%;
      margin-top: 0;
    }
      
  .navbar-nav a {
      text-decoration: none;
      color: #21398A;
      margin-top: -1%;
    }
  
    .main .gauche .functions li{
      margin-top: 1%;
   }
  }



   /* Large devices (desktops, 992px and up)*/
   @media screen and (min-width: 992px) { 
     
    .main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows:  auto;
        grid-template-rows:  auto;
        grid-template-areas: 
        "left right right";
       grid-gap: 10px;
       margin-bottom: 3%;
    }
    
    .main .gauche{
        grid-area: left;
        padding-top: 5px;
        height: 300px;
    }
       
    .main .display-message{
      grid-area: right;
      margin-top: 0;
    }

    .up{
    margin:1rem;
    }

  .main .gauche .navbar-nav a {
    margin-top: -3%;
    }

    .main .gauche .btn{
      text-align: left;
      margin-left: 6%;
    }

    .main .gauche i {
      margin-left: 5%;
    }

 .main .gauche .functions li{
      margin-top: 1%;
    }

    table{
        text-align: center;
    }
    
    thead{
        background-color: #21398A;
        color: #fff;
    }

   }