html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .up{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
    color: #21398A;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .up h4{
    font-weight: bold;
  }
  .container-fluid{
      width: 96%;
      color: #21398A;
  }

  .container-fluid .gauche{
      display: none;
      background-color: rgb(252, 252, 252);
      padding: 3%;
    border-radius: 3px;
  }
  .gauche ul li{
    list-style: none;
    }
  .container-fluid .gauche a{
    color: #21398A;
    text-decoration: none;
  }

  .container-fluid .right a {
    color: #21398A;
  }
  .container-fluid .right{
    background-color: #fff;
    margin-top: 3%;
    border-radius: 3px;
  }
  .thead{
      background-color: #21398A;
      color: #fff;
  }


  @media screen and (min-width: 992px){

    .container-fluid{
    width: 98%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows:  auto;
   grid-gap: 5px;
   margin-bottom: 5%;
    }

    .container-fluid .gauche{
        display: block;
        grid-column: 1/2;
        padding: 5%;
        height: 200px;
    }
    
    .container-fluid .gauche ul{
      padding-top: 10%;
  }

  .container-fluid .gauche a {
      font-weight: bold;
  }
  
  .container-fluid .right{
    grid-column: 2/-1;
  margin-top: -1px;
}

   .up{
    margin-top: 1%;
  margin-bottom: 1%;
}
  }