html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .up{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
    color: #21398A;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .up h4{
    font-weight: bold;
  }
  .container-fluid{
      width: 96%;
      color: #21398A;
  }

  .gauche{
    display: none;
    background-color: rgb(252, 252, 252);
    padding: 3%;
    border-radius: 3px;
 }
 
 .right{
     background-color: #ffffff;
     padding: 3%;
     border-radius: 3px;
 }
 .gauche ul {
     padding-left: 5%;
     padding-top: 7%;
 }

 .gauche ul li{
  list-style: none;
  }

 .gauche ul li a {
     font-weight: bold;
     margin-left: 3%;
     color: #21398A;
     margin-top: 3%;
 }
 .right{
     margin-top: 3%;
     color: #21398A;
 }

 

 @media screen and (min-width: 992px){

    .container-fluid{
    width: 98%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows:  auto;
   grid-gap: 5px;
   margin-bottom: 3%;
    }

    .container-fluid .gauche{
        display: block;
        grid-column: 1/2;
        padding-top: 5px;
        height: 200px;
    }

    
  .container-fluid .right{
    grid-column: 2/-1;
  margin-top: -1px;
}
   .up{
    margin-top: 1%;
  margin-bottom: 2%;
}
}