
  footer{
    width: 96%;
    margin: 0 auto;
    margin-top: 5%;
     text-align: center;
     background-color: #21398A;
     color: #fff;
     border-radius: 2px;
  }
  
  ul{
    display: block;
    list-style: none;
    margin-top: 3%;
    }
  ul li{
    float: none;
  }
  .left{
    margin-top: 11px;
  }
  
  .left i{
    margin-top: 11px;
  }
  .row{
    display: inline-block;
   margin: 3%;
  margin-top: -3%;
  }
  
  
  /*Small devices (landscape phones, 576px and up)  */
  
  @media (min-width: 576px) { 
   
    footer{
      width: 95%;
    }
   }
    
     /* Large devices (desktops, 992px and up)*/
     @media screen and (min-width: 992px) { 
       
   footer{
     margin-top: 4%;
     width: 96%;
   }
   footer ul li{
     display: inline-block;
     margin-left: 2%;
     margin-bottom: 2%;
   } 
  }
     
     /*
   
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }
    */
  