html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

  img{
    width: 100%;
  }


  .content{
    width: 93%;
    margin: 0 auto;
    margin-bottom: 5%;
    }
  
    .navbar{
      background-color: #21398A;
    }
  
    .navbar-toggler{
      padding: 7px;
    }
    .navbar-brand{
      display: block;
      color: #fff;
    }
  
   nav ul li a {
      color: #fff;
    }
  
    .btn{
      color: #fff;
    }
  
    .btn-group{
     margin-bottom: 2%;
     margin-left: 7%;
    }
  
    .btn-danger{
    margin-top: 0.5rem;
  
    }
    .btn-success{
      margin-top: 2%;
      color: #fff;
    }
  
    .btn-success:hover span{
     color: #4BB74C;
    }
    .btn-success:hover .badge{
      background-color: #4BB74C;
      color: #fff;
    }
    .notification{
      color: #fff;
    }
  
    .btn:hover{
      background-color: #fff;
      color: #21398A;
    }

    
/*Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) { 
  /*header.php*/

  .content{
    width: 95%;
  }

  .dropdown-toggle{
    font-size: 17px;
  }

  .btn-danger{
    position: absolute;
   right:-200%;
  }
 }

  
  /* Medium devices (tablets, 768px and up)*/

  @media (min-width: 768px) { 

.btn-danger{
  position: absolute;
 right:-400%;
}

.btn-group{
  margin-left: 11%;
}

   }



   /* Large devices (desktops, 992px and up)*/
   @media screen and (min-width: 992px) { 
     
    .content{
    background-color: #FFFFFF;
    width: 96%;
    margin-bottom: 2%;
  }
  
  .logo{
    width: 70%;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
 
 .btn{
   border-radius: 5px;
   margin-left: 0;
  }

  .navbar{
    height: 50px;
  }

  .navbar-brand{
  display: none;
  }

 .navbar-nav{
   margin-left: -3.3%;
 }
 
 .btn-group{
  padding-top: 2%;
 }

 .btn-success{
  margin-top: 0;
 }

 .btn-danger{
 position: absolute;
 right: 3%;
 margin-top: 1%;
}

}
   
   /*
 
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
