html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

  
nav{
   width: 100%;
   background-color:#21398A;
   color: #fff;
   height: 40px;
   font-size: 17px;
   padding-top: 2px;
}

nav ul {
list-style-type: none;
 
}

nav ul li {
float: right;
   
}

nav ul li a {
   display: block;
   text-align: center;
   text-decoration: none;
   margin-left: 79px;
   
}
.dropdown .btn {
   color: #fff;
   padding-bottom: 3px;
}

.dropdown .green:hover
{
   background-color:#4BB74C;
}


.username {
position: absolute;
right: 2.5%;

}

.username .btn:hover{
background-color: #EC191E;
}

.logout a{
   color: #fff;
}

.notification {
   background-color: #fff;
   color: #21398A;
   font-weight: bold;
   text-decoration: none;
   padding: 7.1px 17px;
   position: relative;
   right: 5%;
   top: -2px;
   display: inline-block;
   border-radius: 2px;
 }
 
 .notification:hover {
   background: #EC191E;
   color: #fff;
   text-decoration: none;
 }
 
 .notification #mess {
   position: absolute;
   top: -10px;
   right: -12px;
   padding: 5px 10px;
   border-radius: 50%;
   background: red;
   color: white;
 }

 .notification:hover #mess{
     background-color: #4BB74C;
 }
 