
  img{
    width: 100%;
  }

  .content{
    width: 95%;
    margin: 0 auto;
    }
  
    .navbar{
      background-color: #21398A;
    }
  
    .navbar-toggler{
      padding: 7px;
    }
    .navbar-brand{
      display: block;
      color: #fff;
    }

    .btn-group{
     margin-bottom: 2%;
     margin-left: 3%;
     border-radius: 3px;
    }

    .dropdown-toggle{
      color: #fff;
    }

    .btn-danger{
      margin-top: 5%;
      position: relative;
    }
    .btn .btn-danger:hover {
      color: red;
    }
    .btn-success{
      color: #fff;
    }
  
    .btn-success:hover span{
     color: #4BB74C;
    }

    .btn-success:hover .notification{
      text-decoration: none;
      color: #fff;
    }

    .btn-success:hover .badge{
      background-color: #4BB74C;
      color: #fff;
    }

    .notification{
      color: #fff;
    }
  
    .dropdown-toggle:hover{
      background-color: #fff;
      color: #21398A;
    }

    
/*Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) { 
  /*header.php*/

  .content{
    width: 95%;
  }

  .dropdown-toggle{
    font-size: 17px;
  }

  .btn-danger{
    position: absolute;
   right:-100%;
  }
 }

  
  /* Medium devices (tablets, 768px and up)*/

  @media (min-width: 768px) { 

    .logo{
      width: 70%;
      margin: 0 auto;
      background-color: #FFFFFF;
    }
   
.btn-danger{
  position: absolute;
 right:-200%;
}

.btn-group{
  margin-left: 5%;
}

   }



   /* Large devices (desktops, 992px and up)*/
   @media screen and (min-width: 992px) { 
     
    .content{
    background-color: #FFFFFF;
    width: 96%;
  }
  
  .navbar{
    height: 73px;
  }
  

  .navbar-brand{
    display: none;
    }
  
 
 .btn-group{
 margin-top: 2%;
 }

 .dropdown-toggle{
   border-radius: 5%;
 }

 .btn-success{
  margin-top: 0;
 }

 .btn-danger{
 position: absolute;
 right: 3%;
 margin-top: 1%;
}

}
   
   /*
 
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
