html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
h2{
    font-size: 19px;
    text-transform: uppercase;
    margin-left: 23%;
    margin-top: 3%;
}

.container .left,
.container .right{
    background-color: #ffffff;
    padding: 3%;
}

.container .right{
    margin-top: 3%;
}