html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
   border: 1px solid;
   display: grid;
    grid-template-columns: 1fr 2fr;
   grid-template-rows:  auto;
}

.left{
    border: 1px solid;
    margin-left= 0;
}