  html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color:rgb(245, 245, 245);
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .container-fluid{
  width: 95%;
  }


  .container-fluid .gauche{
  display: none;
  background-color: rgb(252, 252, 252); 
  text-align: center;
  }

  .up{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
  color: #21398A;
  text-transform: uppercase;
  font-weight: bold;
  }

  .up h4{
  font-weight: bold;
  }

  h4{
  color: #21398A;
  text-align: center;
  }

  hr{
  margin-top: 0;
  margin-bottom: 0;
  }


  .container-fluid  .gauche .nav-item a{
  text-decoration: none;
  color: #21398A;
  font-weight: bold;
  margin-top: -3px;
  }

  .container-fluid .gauche .functions .btn {
  color: #21398A;
  font-weight: bold;
  }

  .container-fluid .gauche .functions h4{
  margin-bottom: 2%;
  margin-top: 2%;
  }

  .display-message{
  width: 100%; 
  margin-top: 5%;
  }

  table{
  text-align: center;
  }
  thead{
  background-color: #21398A;
  color: #fff;
  }

  tbody{
  font-size: 15px;
  background-color: #fff;
  }

  /* Medium devices (tablets, 768px and up)*/

  @media (min-width: 768px) {
  .up{
  margin-bottom: 2%;
  margin-top: 0;
  }

  .navbar-nav a {
  text-decoration: none;
  color: #21398A;
  margin-top: -1%;
  }

  .container-fluid .gauche .functions li{
  margin-top: 1%;
  }
  }



  /* Large devices (desktops, 992px and up)*/
  @media screen and (min-width: 992px) { 

  .container-fluid{
  width: 98%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows:  auto;
  grid-template-rows:  auto;
  grid-template-areas: 
  "left right right";
  grid-gap: 10px;
  margin-bottom: 3%;
  }

  .container-fluid .gauche{
  display: block;
  grid-area: left;
  padding-top: 5px;
  height: 300px;
  }

  .container-fluid .display-message{
  grid-area: right;
  margin-top: 0;
  }

  .up{
  margin-top: 1%;
  margin-bottom: 2%;
  }

  .navbar-nav a {
  margin-top: -3%;
  }

  .container-fluid .gauche .btn{
  text-align: left;
  margin-left: 6%;
  }

  .container-fluid .gauche i {
  margin-left: 5%;
  }

  .container-fluid .gauche .functions li{
  margin-top: 1%;
  }

  table{
  text-align: center;
  }

  thead{
  background-color: #21398A;
  color: #fff;
  }

  }
  @media screen and (min-width: 992px){ 

  .container-fluid .gauche{
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  } 

  .container-fluid .display-message{
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  }

  .container-fluid .gauche .pim{
  margin-left: 7%;
  }

  .container-fluid .gauche a {
  font-size: 14.7px;
  }
  .container-fluid .gauche .btn a{
  padding-top: 3%;
  }
  }