html, body{
    width: 100%;
    height: 100%;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    padding:0;
   border: 1px solid;
   display: grid;
    grid-template-columns: 1fr 3fr;
   grid-template-rows: auto;
   grid-gap: 15px;
}

.left{
    margin-left: -5%;
}

h4{
    font-size: 19px;
    width: 50%;
}

.left div {
    
    background-color: #FFFFFF;
}

.functions{
    margin-top: 15px;
}

.display-message{
    width: 100%; 
}

