html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color:rgb(245, 245, 245);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 95%;
  }
  
  .container-fluid .gauche{
display: none;
  }

  .up{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
    color: #21398A;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .up h4{
    font-weight: bold;
  }

  h4{
    color: #21398A;
    text-align: center;
  }
  .navbar-nav{
      text-align: center;
  }
  .pim .navbar-nav a{
    margin-top: -4.5%;
  }
  .navbar-nav .btn{
      margin-top: 1.5%;
  }
  
  .container-fluid .gauche .btn{
    background-color: #21398A;
    color: #fff;
  }
  

  .container-fluid .gauche .recu .btn{
      background-color: #fff;
    color: #21398A;
    border-color: #21398A;
  }
  
  .container-fluid .gauche .recu .btn:hover{
    background-color: #21398A;
    color: #fff
  }
  .container-fluid .gauche .functions{
      margin-top: 3%;
  }
.display-message{
    width: 100%; 
    margin-top: 10%;
}

table{
    text-align: center;
}
thead{
    background-color: #21398A;
    color: #fff;
}

td{
    font-size: 15px;
}

   /* Large devices (desktops, 992px and up)*/
   @media screen and (min-width: 992px) { 
     
    .container-fluid{
        width: 98%;
       display: grid;
       grid-template-columns: 1fr 2fr;
       grid-template-rows:  auto;
       grid-gap: 5px;
       margin-bottom: 5%;
        }
    
        .container-fluid .gauche{
            display: block;
            grid-column: 1/2;
            padding-top: 5px;
            height: auto;
        }
        .container-fluid .gauche .pim .nav-item{
            margin-top: 3%;
        }
        
      .container-fluid .display-message{
        grid-column: 2/-1;
        margin-top: 0.4%;
    }
       .up{
        margin-top: 1%;
      margin-bottom: 1%;
    }
.pim .recu a{
    background-color:#21398A;
    color: #fff;
    
}
table{
    text-align: center;
}
thead{
    background-color: #21398A;
    color: #fff;
}

   }