    html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color:rgb(245, 245, 245);
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container-fluid{
    width: 95%;
    }

    .container-fluid .gauche{
    text-align: center;
    display:none;
    }

    .container-fluid .right{
    margin-top: 5%;
    border: 1px solid;
    color: #21398A;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 3%;
    background-color: rgb(255, 255, 255);
    }

    .container-fluid .right p{
    text-align: center;
    text-transform: uppercase;
    }

    .container-fluid .right ul{
    margin-top: 5%;
    }

    .container-fluid .right li{
    list-style: none;
    margin-top: 1%;
    margin-left: 5%;
    }

    .card{
    margin-left: 10%;
    margin-top: 3%;
    background: none;
    }

    .card .btn{
    background-color: #21398A;
    border-color: #21398A;
    }

    .custom-file{
    width: 100%;
    }

    /* Large devices (desktops, 992px and up)*/
    @media screen and (min-width: 992px) { 

    .container-fluid{
    width: 98%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows:  auto;
    grid-template-rows:  auto;
    grid-template-areas: 
    "left right right";
    grid-gap: 10px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    }

    .container-fluid .gauche{
    display: block;
    grid-area: left;
    }

    .container-fluid .right{
    grid-area: right;
    margin-top: 1.6%;
    margin-bottom: 0;
    height: 379px;
    }

    .card img{
    margin-top: 0;
    height: 300px;
    }

    .container-fluid .right p{
    text-align: center;
    margin-top: 3%;
    }

    .container-fluid .right ul{
    margin-top: 6%;
    }

    .container-fluid .right li{
    list-style: none;
    margin-top: 3%;
    margin-left: 11%;
    }
    }
    @media screen and (min-width: 992px){ 

    .container-fluid .gauche{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    } 

    .container-fluid .right{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    }
    }