html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color:rgb(245, 245, 245);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }      
  
  .container{

  }
  
  .container .gauche{
    margin-top: 3%;
    background-color: #fff;
  }

  .container .btn{
    border: 1px solid #21398A;
  }

  .back{
    width: 100%;
    font-size: 17px;
    background-color: #fff;
  }